.search {

  width: 100%;
  height: 32px;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #666666;
  border: none;
  padding-left: 36px;

  &__wrapper {
    position: relative;
  }

  &__icon {
    position: absolute;
    background-image: url(/assets/images/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 12px;

  }
}
